<div class="container-fluid">
  <h1 class="mt-3 mb-3">Seja bem vindo ao SIGA!</h1>
  <div class="row">
    <div class="col-sm-6 mb-3">
      <div class="card text-bg-dark">
        <div class="card-body">
          <h5 class="card-title">Alunos</h5>
          <p class="card-text">Cheque todos os alunos matriculados</p>
          <a class="btn btn-primary" routerLink="/students">Abrir alunos</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-bg-dark">
        <div class="card-body">
          <h5 class="card-title">Cursos</h5>
          <p class="card-text">Cheque todos os cursos registrados</p>
          <a class="btn btn-primary" routerLink="/courses">Abrir cursos</a>
        </div>
      </div>
    </div>
  </div>
</div>
